* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #5D6063;
  /*background-color: #eee;*/
  line-height: 1.5;
  /*display: flex;*/
}

/*header {*/
/*  font-size: 30px;*/
/*  font-weight: bold;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  width: 1200px;*/
/*  padding-top: 120px;*/
/*}*/

.menu {
  display: flex;
  font-size: 20px;
  padding-top: 140px;
  justify-content: center;
  width: 1280px;
}

.coffee-list-citation {
  display: block;
  width: 100%;
  text-align: right;
  margin-top: 150px;
  font-family: fantasy;
  font-size: 20px;
}

/*.coffee-cups-header {*/
/*  margin-top: 50px;*/
/*  background-color: #add0f3;*/
/*  font-size: 18px;*/
/*}*/

.header-customization {
  padding: 100px 20px 30px;
  border-radius: 5px;
}

.container {
  /*background-color: blanchedalmond;*/
  display: flex;
  width: 100%;
}


.coffee-cups-customization {
  background-color: #f8f8f8;
  float: left;
  width: 50%;
  border-radius: 5px;
  /*text-align: center;*/
}

.toppings-customization {
  background-color: #f8f8f8;
  padding: 30px;
  float: left;
  margin-left: 1%;
  width: 50%;
  border-radius: 5px;
}

.coffee-customization-footer {
  text-align: center;
}

.coffee-customization-footer h4{
  display: block;
  padding: 20px;
}


.coffee-cup-container li{
  display: inline-block;
  padding-right: 25px;
}

.order-header {
  display: block;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  padding-top: 100px;
}

.order-footer {
  display: block;
  text-align: center;
}

.payment-container {
  padding-top: 100px;
}
/*article {*/
/*  display: flex;*/
/*  justify-content: flex-end;*/
/*  padding-top: 200px;*/
/*  padding-right: 50px;*/
/*  font-family: fantasy;*/
/*  font-weight: bold;*/
/*}*/

.coffeePage-floor {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  flex-direction: column;
  font-size: 18px;
  margin: 20px;
}

.coffee-drink {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.login-form {
  position: fixed;
  flex-direction: column;
  border: 1px solid #106518;
  border-radius: 3px;
  padding: 20px 50px 10px;
  width: 600px;
  margin-top: 150px;
  margin-left: 300px;
  margin-right: 300px;
}

.login-form h4 {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-bottom: 30px;
}

.form-row {
  margin-bottom: 40px;
  display: flex;
}

.form-row input {
  border: 1px solid #74a878;;
  width: 250px;
}

.form-row label {
  padding-right: 20px;
  width: 120px;
  text-align: right;
}

.form-row button{
  margin-left: 120px;
}

.order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #106518;
  border-radius: 3px;

  width: 600px;
  margin: 0 0 20px 300px;
  padding-top: 120px;
}

.order-confirmation-header {
  font-size: 30px;
  align-self: center;
}

.order-note {
  font-family: fantasy;
  font-weight: bold;
  padding: 10px;
}

.order-citation {
  margin-top: 20px;
  align-self: flex-end;
  font-size: 18px;
  font-family: fantasy;
  font-weight: bold;
}

.order-details-header {
  font-weight: bold;
  font-size: 18px;
}

.customAlert {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: 300px;
  padding: 5px;
  border: 1px solid #106518;
  border-radius: 3px;
  width: 400px;
}

.custom-button {
  color: #ecf3ec;
  background-color: #4d7955;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.custom-button:hover {
  background-color: #94ad96;
}

.custom-button:active {
  color: #a4b7a5;
  background-color: #0d4812;
}

.icon{
  cursor: pointer;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-family: sans-serif;
  color: #0a360e;
  background-color: #f8f8f8;
  padding: 20px 20px 10px;
  width: 100%;
  z-index: 1;
}

nav a:link,
nav a:visited{
  text-decoration: none;
  color: #0a360e;
}

nav li {
  display: inline;
  margin-right: 50px;
}

/*nav li:last-of-type {*/
/*  margin-right: 0;*/
/*  background-color: #3aaf43;*/
/*}*/

.sub-menu {
  background-color: #f8f8f8;
  flex-direction: column;
  border-radius: 5px;
  padding-top: 60px;

  position: absolute;
  top: -20px;
  left: -5px;
  display: none;
}

.sub-menu li {
  /*list-style: none;*/
  border-bottom: 1px solid #858686;
  padding: 0 40px 10px 20px;
  margin: 10px;
}

.dropdown {
  position: relative;
  z-index: 2;
}

.dropdown:hover .sub-menu {
    display: flex;
  }

nav li button {
  background-color: #f8f8f8;
  border: none;
  font-size: 18px;
  font-family: sans-serif;
  color: #0a360e;
}

#logo {
  height: 45px;
  width: 45px;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #0a360e;
  padding: 10px;
  width: 100%;
}

footer a {
  display: flex;
  justify-content: flex-end;
  background-color: #0a360e;
  color: #e9f6eb;
  font-size: 23px;
  padding-right: 20px;
}