* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #5D6063;
  line-height: 1.5;
  display: flex;
  align-items: center;
  margin: 30px;
}

header {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  width: 1200px;
  margin-top: 50px;
}

.content-container {
  display: flex;
  font-size: 20px;
  padding-top: 30px;
  justify-content: center;
}

.menu {
}

.floor-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 120px;
  font-family: fantasy;
  font-weight: bold;
}

.coffeePage-floor {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  flex-direction: column;
  font-size: 18px;
  margin: 20px;
}

.coffee-drink {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.login-header {
    display: flex;
    justify-content: center;
    border: 1px solid #106518;
    border-radius: 3px;

    width: 600px;
    margin: 40px 0 20px 300px;
    padding: 30px;
    font-size: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
  border: 1px solid #106518;
  border-radius: 3px;
  padding: 50px 50px 10px;
  width: 600px;
  margin-left: 300px;
}

.form-row {
  margin-bottom: 40px;
  display: flex;
}

.form-row input {
  border: 1px solid #74a878;;
  width: 250px;
}

.form-row label {
  padding-right: 20px;
  width: 120px;
  text-align: right;
}

.form-row button{
  margin-left: 120px;
}

.order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #106518;
  border-radius: 3px;

  width: 600px;
  margin: 40px 0 20px 300px;
  padding: 30px;
}

.order-header {
  font-size: 30px;
  align-self: center;
}

.order-note {
  font-family: fantasy;
  font-weight: bold;
  padding: 10px;
}

.order-citation {
  margin-top: 20px;
  align-self: flex-end;
  font-size: 18px;
  font-family: fantasy;
  font-weight: bold;
}

.order-details-header {
  font-weight: bold;
  font-size: 18px;
}

.customAlert {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: 300px;
  padding: 5px;
  border: 1px solid #106518;
  border-radius: 3px;
  width: 400px;
}

.custom-button {
  color: #0d4812;
  background-color: #3aaf43;
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  align-self: center;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.custom-button:hover {
  background-color: #57bb60;
}

.custom-button:active {
  color: #a4b7a5;
  background-color: #0d4812;
}

.icon{
  cursor: pointer;
}

/*button:hover {*/
/*  background-color: #a7ada9;*/
/*}*/

/*.button:active {*/
/*  color: #414141;*/
/*  background-color: #FFF;*/
/*}*/

.navbar a {
  text-decoration: none;
  color: #106518;
  font-size: 16px;
  font-weight: bold;
  /*font-size: 20px;*/
}

.nav-menu {
  position: fixed;
  top: 20px;
  left: 60px;
}

.nav-join {
  position: fixed;
  top: 20px;
  left: 1050px;
}

.nav-sign-in {
  position: fixed;
  top: 20px;
  left: 1150px;
}

.nav-log-out {
  position: fixed;
  top: 20px;
  left: 1150px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  background-color: #FFFFFF;
  color: #106518;
}

/*.navbar-container {*/
/*  position: absolute;*/
/*  top: 10px;*/
/*  left: 1100px;*/
/*  display: flex;*/
/*  justify-content: flex-end;*/
/*  !*width: 1200px;*!*/
/*  text-decoration: none;*/
/*}*/

/*.nav-menu {*/
/*  justify-self: start;*/
/*  padding: 10px;*/
/*}*/

/*.navbar-container a {*/
/*  text-decoration: none;*/
/*  color: #106518;*/
/*}*/

/*.nav-login {*/
/*  display: flex;*/
/*  justify-self: flex-end;*/
/*  padding: 10px;*/
/*}*/

.basket {
  /*display: flex;*/
  /*justify-content: flex-end;*/
  position: fixed;
  bottom: 30px;
  left: 1200px;
  /*width: 1200px;*/
}

.basket a {
  color: #106518;
  font-size: 23px;
}